*{
    margin: 0;
    padding: 0;
}

body{
    width: 250px;
    background-color: 	#fdfdfd;
    height: 300px;
}

.mui-appbar {
    background-color: rgba(47, 47, 47, 0.87) !important;
}

.img-icon{
    position: absolute;
    top: 20px;
    left: 101px;
}

.checkboxes{
    margin: 25px 30px;
}

.chkheader{
    margin-left: -5px;
}

label{
    font-size: 15px;
}

.buttons{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}


.checkbox{
    display: block;
    margin: 10px 0;
}
